*{
    margin: 0;
    padding: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    padding: 10px 0;
    display: flex;
}
.footer p {
    margin: 0;
}

.footer .copyright {
    margin-left: 10px;
    margin-top: 90px;
}
.footer .info {
    width: 70%;
    text-align: left;
    margin-left: 0px;
body {
    font-family: Arial, sans-serif;
    background: url('https://thumbs.dreamstime.com/b/marvel-logo-official-design-american-entertainment-company-179548774.jpg'); /* Замените на URL вашего фонового изображения */
    background-size: cover;
}
.header {
    background-color: rgba(32, 32, 32, 0.7);
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}
.characters {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
.character {
    width: 100px;
    height: 100px;
}
.content {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}


.biography {
    width: 50%;
    margin: auto;
}
#more {
    display: none;
}